In [2]:
import pandas as pd
import os

In [3]:
# Define file paths
cleaned_dir = "../data/cleaneddata/"
output_dir = "../data/mergeddata/"

In [4]:
locations = {
    "Koonimedu.csv": {"location": "Koonimedu", "urban_rural": "Rural"},
    "Chennai.csv": {"location": "Chennai", "urban_rural": "Urban"},
    "Delhi.csv": {"location": "Delhi", "urban_rural": "Urban"},
    "Mawlynnong.csv": {"location": "Mawlynnong", "urban_rural": "Rural"}
}

In [5]:
# Load and label datasets
dfs = []
for file, meta in locations.items():
    df = pd.read_csv(os.path.join(cleaned_dir, file))
    df["location"] = meta["location"]
    df["urban_rural"] = meta["urban_rural"]
    dfs.append(df)

In [6]:
dfs[0].head()

,time,pm10 (μg/m³),pm2_5 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),sulphur_dioxide (μg/m³),ozone (μg/m³),location,urban_rural
0,2022-09-01T00:00,27.040000,18.380000,208.657143,12.143810,19.897143,11.600000,Koonimedu,Rural
1,2022-09-01T01:00,27.017143,18.394286,206.342857,12.382857,19.112381,14.657143,Koonimedu,Rural
2,2022-09-01T02:00,26.025714,17.717143,200.657143,11.256190,16.813333,20.514286,Koonimedu,Rural
3,2022-09-01T03:00,23.960000,16.242857,191.000000,12.682857,16.433333,26.228571,Koonimedu,Rural
4,2022-09-01T04:00,21.588571,14.522857,177.000000,14.131429,19.480000,31.514286,Koonimedu,Rural

In [7]:
dfs[1].head()

,time,pm10 (μg/m³),pm2_5 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),sulphur_dioxide (μg/m³),ozone (μg/m³),location,urban_rural
0,2022-09-01T00:00,21.691429,14.634286,303.028571,25.082857,30.522857,12.342857,Chennai,Urban
1,2022-09-01T01:00,20.940000,14.240000,292.028571,23.211429,30.034286,15.085714,Chennai,Urban
2,2022-09-01T02:00,18.751429,12.802857,270.285714,19.668571,29.022857,20.000000,Chennai,Urban
3,2022-09-01T03:00,15.928571,10.820000,247.228571,16.268571,27.911429,24.742857,Chennai,Urban
4,2022-09-01T04:00,14.751429,9.914286,226.571429,13.840000,26.925714,27.914286,Chennai,Urban

In [8]:
dfs[2].head()

,time,pm10 (μg/m³),pm2_5 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),sulphur_dioxide (μg/m³),ozone (μg/m³),location,urban_rural
0,2022-09-01T00:00,104.145714,65.900000,1206.114286,63.565714,36.562857,4.114286,Delhi,Urban
1,2022-09-01T01:00,93.540000,59.080000,1123.000000,59.851429,33.751429,9.971429,Delhi,Urban
2,2022-09-01T02:00,80.611429,49.637143,959.542857,52.285714,28.625714,23.200000,Delhi,Urban
3,2022-09-01T03:00,73.788571,43.137143,782.571429,43.274286,24.425714,42.142857,Delhi,Urban
4,2022-09-01T04:00,67.220000,36.428571,616.771429,33.542857,22.671429,67.771429,Delhi,Urban

In [9]:
dfs[3].head()

,time,pm10 (μg/m³),pm2_5 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),sulphur_dioxide (μg/m³),ozone (μg/m³),location,urban_rural
0,2022-09-01T00:00,18.760000,13.040000,218.142857,2.191429,1.508571,75.085714,Mawlynnong,Rural
1,2022-09-01T01:00,16.260000,11.334286,212.085714,2.234286,1.617143,74.657143,Mawlynnong,Rural
2,2022-09-01T02:00,13.568571,9.431429,200.571429,2.265714,1.808571,74.342857,Mawlynnong,Rural
3,2022-09-01T03:00,12.757143,8.800000,188.942857,2.208571,1.848571,75.000000,Mawlynnong,Rural
4,2022-09-01T04:00,13.080000,9.014286,179.485714,1.982857,1.608571,76.828571,Mawlynnong,Rural

In [10]:
# **1. Vertical Merge (Stacked for Spatio-Temporal Analysis)**
merged_vertical = pd.concat(dfs, ignore_index=True)
merged_vertical.to_csv(os.path.join(output_dir, "cleaned_merged_vertical.csv"), index=False)
print("Saved: cleaned_merged_vertical.csv")

Saved: cleaned_merged_vertical.csv

In [11]:
df_vertical = pd.read_csv(os.path.join(output_dir, "cleaned_merged_vertical.csv"))
df_vertical.head()

,time,pm10 (μg/m³),pm2_5 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),sulphur_dioxide (μg/m³),ozone (μg/m³),location,urban_rural
0,2022-09-01T00:00,27.040000,18.380000,208.657143,12.143810,19.897143,11.600000,Koonimedu,Rural
1,2022-09-01T01:00,27.017143,18.394286,206.342857,12.382857,19.112381,14.657143,Koonimedu,Rural
2,2022-09-01T02:00,26.025714,17.717143,200.657143,11.256190,16.813333,20.514286,Koonimedu,Rural
3,2022-09-01T03:00,23.960000,16.242857,191.000000,12.682857,16.433333,26.228571,Koonimedu,Rural
4,2022-09-01T04:00,21.588571,14.522857,177.000000,14.131429,19.480000,31.514286,Koonimedu,Rural

In [12]:
# **2. Horizontal Merge (Time-Based Location Comparison)**

dfs_dict = {df["location"].iloc[0]: df for df in dfs}  # Dictionary with location as key

merged_horizontal = list(dfs_dict.values())[0]  # Start with the first dataframe

first_location = list(dfs_dict.keys())[0]
merged_horizontal = dfs_dict[first_location].rename(
    columns={col: f"{col}_{first_location}" for col in dfs_dict[first_location].columns if col != "time"}
)  # Rename columns to include location

for location, df in list(dfs_dict.items())[1:]:  # Iterate over remaining DataFrames
    df = df.rename(columns={col: f"{col}_{location}" for col in df.columns if col != "time"})  # Use location in column names
    merged_horizontal = merged_horizontal.merge(df, on="time", how="outer")  # Outer join for complete timestamp coverage

merged_horizontal.to_csv(os.path.join(output_dir, "cleaned_merged_horizontal.csv"), index=False)
print("Saved: cleaned_merged_horizontal.csv")

Saved: cleaned_merged_horizontal.csv

In [13]:
df_horizontal = pd.read_csv(os.path.join(output_dir, "cleaned_merged_horizontal.csv"))
df_horizontal.head()

,time,pm10 (μg/m³)_Koonimedu,pm2_5 (μg/m³)_Koonimedu,carbon_monoxide (μg/m³)_Koonimedu,nitrogen_dioxide (μg/m³)_Koonimedu,sulphur_dioxide (μg/m³)_Koonimedu,ozone (μg/m³)_Koonimedu,location_Koonimedu,urban_rural_Koonimedu,pm10 (μg/m³)_Chennai,...,location_Delhi,urban_rural_Delhi,pm10 (μg/m³)_Mawlynnong,pm2_5 (μg/m³)_Mawlynnong,carbon_monoxide (μg/m³)_Mawlynnong,nitrogen_dioxide (μg/m³)_Mawlynnong,sulphur_dioxide (μg/m³)_Mawlynnong,ozone (μg/m³)_Mawlynnong,location_Mawlynnong,urban_rural_Mawlynnong
0,2022-09-01T00:00,27.040000,18.380000,208.657143,12.143810,19.897143,11.600000,Koonimedu,Rural,21.691429,...,Delhi,Urban,18.760000,13.040000,218.142857,2.191429,1.508571,75.085714,Mawlynnong,Rural
1,2022-09-01T01:00,27.017143,18.394286,206.342857,12.382857,19.112381,14.657143,Koonimedu,Rural,20.940000,...,Delhi,Urban,16.260000,11.334286,212.085714,2.234286,1.617143,74.657143,Mawlynnong,Rural
2,2022-09-01T02:00,26.025714,17.717143,200.657143,11.256190,16.813333,20.514286,Koonimedu,Rural,18.751429,...,Delhi,Urban,13.568571,9.431429,200.571429,2.265714,1.808571,74.342857,Mawlynnong,Rural
3,2022-09-01T03:00,23.960000,16.242857,191.000000,12.682857,16.433333,26.228571,Koonimedu,Rural,15.928571,...,Delhi,Urban,12.757143,8.800000,188.942857,2.208571,1.848571,75.000000,Mawlynnong,Rural
4,2022-09-01T04:00,21.588571,14.522857,177.000000,14.131429,19.480000,31.514286,Koonimedu,Rural,14.751429,...,Delhi,Urban,13.080000,9.014286,179.485714,1.982857,1.608571,76.828571,Mawlynnong,Rural

In [15]:
merged_horizontal["time"] = pd.to_datetime(merged_horizontal["time"])
merged_vertical["time"] = pd.to_datetime(merged_vertical["time"])

In [16]:
merged_horizontal.set_index("time", inplace=True)
merged_vertical.set_index("time", inplace=True)

In [19]:
numeric_columns_horizontal = merged_horizontal.select_dtypes(include="number").columns
numeric_columns_vertical = merged_vertical.select_dtypes(include="number").columns

In [20]:
merged_horizontal_daily = merged_horizontal[numeric_columns_horizontal].resample('D').mean().reset_index()
merged_vertical_daily = merged_vertical.groupby(["location", pd.Grouper(freq="D")])[numeric_columns_vertical].mean().reset_index()

In [21]:
merged_horizontal_daily.head()

,time,pm10 (μg/m³)_Koonimedu,pm2_5 (μg/m³)_Koonimedu,carbon_monoxide (μg/m³)_Koonimedu,nitrogen_dioxide (μg/m³)_Koonimedu,sulphur_dioxide (μg/m³)_Koonimedu,ozone (μg/m³)_Koonimedu,pm10 (μg/m³)_Chennai,pm2_5 (μg/m³)_Chennai,carbon_monoxide (μg/m³)_Chennai,...,carbon_monoxide (μg/m³)_Delhi,nitrogen_dioxide (μg/m³)_Delhi,sulphur_dioxide (μg/m³)_Delhi,ozone (μg/m³)_Delhi,pm10 (μg/m³)_Mawlynnong,pm2_5 (μg/m³)_Mawlynnong,carbon_monoxide (μg/m³)_Mawlynnong,nitrogen_dioxide (μg/m³)_Mawlynnong,sulphur_dioxide (μg/m³)_Mawlynnong,ozone (μg/m³)_Mawlynnong
0,2022-09-01,18.082500,12.075238,154.228571,9.534286,11.442381,33.236905,16.975595,11.324881,260.960714,...,849.997619,43.923690,46.812222,57.227381,16.255476,11.298690,199.955952,3.446071,1.049405,73.120238
1,2022-09-02,26.674167,17.524881,181.205952,6.185397,10.427262,66.379762,23.900833,14.851786,216.500000,...,1258.309921,49.092381,60.137024,61.308333,18.078810,12.598690,203.330952,2.840119,1.064881,85.739286
2,2022-09-03,37.828929,25.569881,212.432143,9.791151,15.714683,78.516667,45.785000,29.625714,266.538095,...,1171.232143,42.969762,37.232738,47.777381,12.629405,8.825476,227.829762,3.020952,1.505952,88.171429
3,2022-09-04,32.168690,21.504881,189.284524,7.294365,13.818452,92.454762,42.779048,28.211429,294.498810,...,758.261905,44.033214,23.157262,46.004762,13.705476,9.491310,236.269048,3.076905,1.189881,92.014286
4,2022-09-05,31.458571,21.084167,195.465476,8.345714,17.350913,87.290476,37.715714,24.764286,272.763095,...,1139.228571,55.173452,49.042897,51.741667,10.367381,7.225238,215.844048,3.259762,0.852381,82.526190

In [22]:
merged_vertical_daily.head()

,location,time,pm10 (μg/m³),pm2_5 (μg/m³),carbon_monoxide (μg/m³),nitrogen_dioxide (μg/m³),sulphur_dioxide (μg/m³),ozone (μg/m³)
0,Chennai,2022-09-01,16.975595,11.324881,260.960714,14.001310,24.433571,27.367857
1,Chennai,2022-09-02,23.900833,14.851786,216.500000,15.180238,16.973690,49.507143
2,Chennai,2022-09-03,45.785000,29.625714,266.538095,21.304643,22.163333,82.386905
3,Chennai,2022-09-04,42.779048,28.211429,294.498810,21.417738,22.800397,92.986905
4,Chennai,2022-09-05,37.715714,24.764286,272.763095,21.513929,24.431746,86.973810

In [23]:
merged_horizontal_daily.to_csv(os.path.join(output_dir, "cleaned_merged_horizontal_daily.csv"), index=False)
merged_vertical_daily.to_csv(os.path.join(output_dir, "cleaned_merged_vertical_daily.csv"), index=False)

In [24]:
#no need for horizontal data so, removed it